---
import Default from '@astrojs/starlight/components/TableOfContents.astro'
import StarlightCoolerCreditTableOfContents from 'starlight-cooler-credit/components/TableOfContents.astro'
---

<Default><slot /></Default>
<p>Custom content in the TableOfContents override</p>
<StarlightCoolerCreditTableOfContents />